.cover__subtitle{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
    margin-top: 32px;
    max-width: 360px;
    max-height: 66px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    z-index: 3;
  }
  @media (max-width: 425px) {
    .cover__subtitle {
      margin-top: 16px;
      max-width: 288px;
      max-height: 48px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.1;
      z-index: 3;
    }
  }