.footer__link {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    margin-right: 18px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
   }
   @media (max-width: 425px) {
    .footer__link {
        display:block;
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 32px;
       }
}