.lead__subtitle {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
    max-width: 640px;
    max-height: 72px;
    margin: 32px auto;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  @media (max-width: 320px) {
    .lead__subtitle {
      margin: 16px auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    }