.cover__title{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
    margin: 0;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 3;
  }

  @media (max-width: 550px) {
    .cover__title{
      margin: 0;
      text-align: center;
      font-weight: 900;
      font-size: 40px;
      line-height: 1.1;
      z-index: 3;
    }
  }
  @media (max-width: 425px) {
    .cover__title{
      margin: 0;
      text-align: center;
      font-weight: 900;
      font-size: 32px;
      line-height: 1.1;
      z-index: 3;
    }
  }